<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="EntityDB" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=106.14.96.37)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));PASSWORD=20140506;PERSIST SECURITY INFO=True;USER ID=SYSTEM" providerName="Oracle.ManagedDataAccess.Client" />
    <!--<add name="EntityDB" connectionString="DATA SOURCE=localhost/ffgl;PASSWORD=20140506;PERSIST SECURITY INFO=True;USER ID=SCOTT" providerName="Oracle.ManagedDataAccess.Client" />-->
    <!--<add name="EntityDB" connectionString="DATA SOURCE=192.168.0.14/orcl;PASSWORD=abc123;PERSIST SECURITY INFO=True;USER ID=NEANDS3" providerName="Oracle.ManagedDataAccess.Client" />-->
  </connectionStrings>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>