<script src="~/Scripts/jquery-1.10.2.js"></script>
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/Content/hsc-form.css" rel="stylesheet" />
<script src="~/layui/layui.js"></script>
<body>
    <script>
        layui.use(['laypage', 'layer', 'htcsLG','laytpl', 'jquery', 'form'], function () {
            var laytpl = layui.laytpl;
            var doc = layui.htcsLG;
            var url = "api/Menu/Querymenu";
            var $ = layui.jquery;
            var form = layui.form;
            debugger;
            doc.objectQuery(url, {}, function (data) {
                debugger;
                var getTpl = demo.innerHTML
           , view = document.getElementById('view');
                laytpl(getTpl).render(data, function (html) {
                    view.innerHTML = html;
                });
                 form.render('');
            });
        });
    </script>
    <script id="demo" type="text/html">
        <form class="layui-form hcs-form" action="">
            <div class="form-content">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单代码</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="name"  autocomplete="off" class="layui-input" id="name">
                        </div>
                        <label class="layui-form-label" style="width:auto;">菜单名称</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="title" lay-verify="required" autocomplete="off" class="layui-input" id="title">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">图标</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="icon"  autocomplete="off" class="layui-input" id="icon">
                        </div>
                        <label class="layui-form-label">跳转页面</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="tel" name="jump" autocomplete="off" class="layui-input" id="jump">
                        </div>
                    </div>
                </div>
                 <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">子系统</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <select name="SystemId" lay-verify="required" id="SystemId" lay-search="">
                                    <option value="0">请选择</option>
                                    {{#  layui.each(d.data, function(index, item1){if(item1.Jishu==0){ }}
                                    <option value="{{item1.Id}}">{{item1.name}}</option>
                                    {{#  } });   }}
                                </select>
                            </div>
                            <label class="layui-form-label" style="width:auto;">上级菜单</label>
                            <div class="layui-input-inline" style="width: 200px;">
                                <select name="ParentId" lay-verify="required" id="ParentId" lay-search="">
                                    <option value="0">请选择</option>
                                    {{#  layui.each(d.data, function(index, item1){if(item1.Jishu==1){ }}
                                    <option value="{{item1.Id}}">{{item1.name}}</option>
                                    {{#  } });   }}

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-bottom">
                <div class="form-wrap">
                    <button class="layui-btn layui-btn layui-btn-primary" id="cancel" lay-filter="cancel">取消</button>
                    <button class="layui-btn" id="save" lay-filter="save" lay-submit="">保存</button>
                </div>
            </div>
        </form>
    </script>
    <div id="view">
    </div>

    <script>
//Demo
layui.use('form', function(){
  var form = layui.form;

  //监听提交
  form.on('submit(save)', function (data) {
      debugger;
    
      if (data.field.ParentId != 0 ) {
          data.field.Jishu = 2;
      }
      if (data.field.SystemId!= 0 && data.field.Jishu != 2) {
          data.field.Jishu = 1;
      }
      
      var url = doc.baseurl + "/api/Menu/SaveMenu";
      doc.Submit(url, JSON.stringify(data.field));
      return false;
  });

});
function complteimg(name, number) {
    debugger;
    $("#Image").val(name);
    $("#imgnumber").html(number);
}
    </script>
</body>