<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Common/base_js.js"></script>
<script src="~/Scripts/Common/diyUpload_single.js"></script>
<script src="~/Scripts/Common/webuploader.html5only.min.js"></script>

<link href="~/Content/diyUpload.css" rel="stylesheet" />
<link href="~/Content/webuploader.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />
<style>
    .menu_button{ position:absolute;bottom:0px;background-color:#eeeeee;width:100%;
                  border-top:1px solid #e2e2e2;
    }
    .menu_wrap{padding:20px;float:right;}
</style>
<script src="~/layui/layui.js"></script>
    <div id="wrap" style="padding:20px;">
        <div id="box">
            <div id="SIGNFILE" class="Diyimagefile">
            </div>
        </div>
        <div class="parentFileBox">
            <ul class="fileBoxUl" id="file1"></ul>
        </div>
    </div>
   <div class="menu_button">
       <div class="menu_wrap">
           <button class="layui-btn layui-btn-primary">取消</button>
           <button class="layui-btn layui-btn-normal">完成</button>
       </div>
      
   </div>
 <script src="~/Scripts/Common/House.js"></script>
