
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TEST</title>
    
    <style>
      body { font-family: sans-serif; font-size: 14px; line-height: 1.6em; margin: 0; padding: 0; }
.container { width: 800px; margin: 0 auto; }



input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; }
    </style>
    
</head>
<body>
    <div class="container">
     <span id="addnew" onclick="f();">找不到指定的小区</span>   
     <input type="text" name="country" id="autocomplete" />
     </div>  
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Common/jquery.autocomplete.js"></script>
    <link href="~/Content/jquery.autocomplete.css" rel="stylesheet" />

    <script src="~/Scripts/Common/LG.js"></script>
    <script src="~/Scripts/Common/demo.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />

</body>
</html>
